/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

/* Body */

body {
    font-family: Nunito;
    background-color: #b2bec3;
    margin: 0 0 0 0;
}

/* Box */

.box {
    background-color: white; 
    margin: 150px 30% 150px 30%;
    padding: 30px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px grey;
    /* prvni px: odsazeni stinu doprava
       druhe px: odsazeni stinu dolu 
       treti px: intenzita rozmazani okraju stinu
       ctvrte px: velikost stinu kolem boxu*/    
}


/* Profile photo */

.profil-photo {
    height: 150px;
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
    margin: -105px 0 0 445px;
}

/* Headline */

 h1 {
    font-weight: 700;
    color: #d63031;
    font-size: 36px;
    margin-top: -45px;
    margin-bottom: 30px;
 }

 /* Paragraph */

 p, a {
    font-size: 18px;
 }

 /* Link */

 a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
 }

 .social-media-link {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0 10px 0;

 }

 #twitter {
    background-color: #1da1f2;
    margin-bottom: 5px;
 }

 #twitter:hover {
    background-color: #0b7bc1;
 }

 #facebook {
    background-color: #3b5998;
 }

 #facebook:hover {
    background-color: #2b406e;
 }